{% extends "base.html" %}

{% block scripts %}
  <link rel="canonical" href="{{ post.get_absolute_url }}">
  <script type="text/javascript" src="{{ STATIC_URL }}javascript/twitter.js"></script>

{# JSON-LD for Specific Blog Post #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ post.post_title|escapejs }}",
  "datePublished": "{{ post.created|date:'c' }}",
  {% if post.modified %}"dateModified": "{{ post.modified|date:'c' }}",{% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ post.author|escapejs }}",
    "url": "{{ request.scheme }}://{{ request.get_host }}{{ post.author.get_absolute_url }}"
  },
  "publisher": {
    "@type": "EducationalOrganization",
    "name": "{{ lab_name }}",
    "url": "{{ request.scheme }}://{{ request.get_host }}"
  },
  "mainEntityOfPage": "{{ request.build_absolute_uri }}",
  "articleBody": "{{ post_data|striptags|escapejs }}"
  {% if post.project %},
  "about": {
    "@type": "Thing",
    "name": "{{ post.project|escapejs }}"
  }
  {% endif %}
}
</script>

{% if has_citations %}
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
  <script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="text/javascript"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      littlefoot.default({ activateOnHover: true });
    });
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
{% endblock %}

{% block title %}<title>{{ post.post_title }}</title>{% endblock %}

{% block content %}
{% load markup_filters %}
<article class="container"> {# Removed itemscope and itemtype #}
  
  <div class="row">
    <section id="post" class="col-12 col-lg-9 lead">
      {% if post %}
        {{ post_data | safe }}
      {% else %}
        <p>The source file was not available.</p>
      {% endif %}
    </section>

    <aside id="sidebar" class="col-12 col-lg-3 border-start ps-lg-4">
      <div class="mb-4">
        <p class="text-muted small">
          Published <time datetime="{{ post.created|date:'c' }}">{{ post.created|date:"F j, Y" }}</time>
          by <a href="{{ post.author.get_absolute_url }}" class="text-decoration-none fw-bold">{{ post.author }}</a>
          {% if post.modified %}<br>Last modified {{ post.modified|date:"F j, Y" }}{% endif %}.
        </p>
      </div>

      <div class="mb-4">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="bridges_lab" data-size="large">Post to X</a>
      </div>

      {% if post.project %}
      <div class="mb-4">
          <span class="small text-muted d-block mb-1">Related Project:</span>
          <a href="{{ post.project.get_absolute_url }}" class="btn btn-outline-primary btn-sm w-100">{{ post.project }}</a>
      </div>
      {% endif %}

      {% if post.paper %}
      <div id="paper-info" class="mb-4">
        <span class="small text-muted d-block mb-2">Discussed Paper:</span>
        <ol class="list-unstyled">
          {% with post.paper as paper %}
            {% include 'paper-detail-snippet.html' %}
          {% endwith %}
        </ol>
      </div>
      {% endif %}
    </aside>
  </div>

  <footer class="row mt-5 pt-4 border-top">
    <section id="license" class="col-12 text-muted small">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" class="mb-2"/>
      </a><br />
      "{{ post.post_title }}" by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a> is licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
    </section>
  </footer>

</article>
{% endblock %}