<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<div data-badge-type='medium-donut' 
    class='altmetric-embed' 
    data-badge-details='right' 
    data-doi='{{paper.doi}}'>
</div>
<!-- Dimensions Widget-->
<span class="__dimensions_badge_embed__" 
    data-doi="{{paper.doi}}"
    data-legend="always">
</span>
<!-- PlumX Widget-->
<a href="https://plu.mx/plum/a/?doi={{paper.doi}}" 
   class="btn btn-primary btn-lg ms-3 mt-3">
<i class="bi bi-graph-up"></i> View PlumX Metrics
</a>
<!-- Dimensions Widget Javascript-->
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
