{% extends "base.html" %}
{% block scripts %}
<link rel="alternate" type="application/rss+xml" title="Commentaries" href="{% url 'commentary-feed' %}">
{% endblock %}

{% block title %}
<title>{{ commentary }}</title>
{% endblock %}

{% block header %}
<div class="container text-center">
    <h1 class="display-4">Journal Club Summary</h1>
</div>
{% endblock %}

{% block sidebar-insertion %}
{% endblock %}

{% block content %}
<!-- PlumX Widget Script -->
<script type="text/javascript" src="https://cdn.plu.mx/widget-popup.js"></script>

<article class="container my-4" itemscope itemtype="http://schema.org/Review">
    <div class="card">
        <div class="card-header">
            <h2>
                <a itemprop="about" itemscope itemtype="http://schema.org/ScholarlyArticle" href="{{ commentary.paper.link }}" class="text-decoration-none text-dark">
                    <span itemprop="name">{{ commentary.paper }}</span>
                    <meta itemprop="url" content="{{ commentary.paper.link }}">
                </a>
            </h2>
        </div>
        <div class="card-body">
            {% if commentary.author %}
            <h3 id="author" class="text-center lead" itemprop="author creator editor accountablePerson" itemscope itemtype="http://schema.org/Person">
                Written By <a itemprop="url" href="{{ commentary.author.get_absolute_url }}" class="text-decoration-none text-dark">
                    <span itemprop="name">{{ commentary.author }}</span>
                </a>
            </h3>
            {% endif %}
            <div class="row">
                <!-- Review Comments -->
                <div class="col-lg-8 col-12 mb-4">
                    <section id="review-comments">
                        <p itemprop="reviewBody text">{{ commentary.comments|safe }}</p>
                        <p class="text-muted">
                            Written on <time itemprop="dateCreated datePublished" datetime="{{ commentary.created|date:'c' }}">{{ commentary.created }}</time>,
                            last modified on <time itemprop="dateModified" datetime="{{ commentary.modified|date:'c' }}">{{ commentary.modified }}</time>.
                        </p>
                    </section>
                </div>
                <!-- Metrics Sidebar -->
                <div class="col-lg-4 col-12">
                    <div class="card h-100">
                        <div class="card-header">
                            <h2 class="card-title h4">Article Metrics</h2>
                        </div>
                        <div class="card-body text-center">
                            <!-- Altmetric Widget -->
                            <div class="altmetric-embed mb-3" 
                                 data-badge-type="donut" 
                                 data-badge-details="right" 
                                 data-doi="{{ commentary.paper.doi }}" 
                                 data-hide-no-mentions="true">
                            </div>
                            <!-- PlumX Widget -->
                            <div class="plumx-embed">
                                <a href="https://plu.mx/plum/a/?doi={{ commentary.paper.doi }}" 
                                   class="plumx-plum-print-popup" 
                                   data-popup="right" 
                                   data-size="large"
                                   data-no-link="true">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if commentary.citation %}
    <section class="card mt-4">
        <div class="card-header">
            <h3 class="card-title">Original Citation</h3>
        </div>
        <div class="card-body">
            {{ commentary.citation|safe }}
        </div>
    </section>
    {% endif %}

    <section id="comments" class="card mt-4">
        <div class="card-header">
            <h2 class="card-title">Comments</h2>
        </div>
        <div class="card-body">
            {% include 'disqus_snippet.html' %}
        </div>
    </section>
</article>

<!-- Altmetric Script -->
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
{% endblock %}