<div class="row">
<li class="border-bottom pb-3 pt-2">{% if paper.authors.count == 1%}
{% for author in paper.authors.all|dictsort:"order" %}
{% if author.author.current_lab_member or author.author.alumni %}<a href='{{ author.author.get_absolute_url }}' class="plain-link">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}
{% endfor %}
{% else %}
{% for author in paper.authors.all|dictsort:"order" %}
{% if forloop.revcounter == 1 %} and {% endif %} {% if author.author.current_lab_member or author.author.alumni %}<a href='{{ author.author.get_absolute_url }}' class="text-decoration-none text-dark">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if forloop.revcounter > 2 %}, {% endif %}{% if forloop.last %}.{% endif %} 
{% endfor %}
{% endif %}
<a href='{{ paper.get_absolute_url }}' class="text-decoration-none text-dark">{{ paper }}</a>  {% if paper.year %}{{ paper.year }}. {% endif %}<strong>{{ paper.journal }}</strong>  {% if paper.volume %}{{ paper.volume }}{% if paper.issue %}({{ paper.issue }}){% endif %}:{{ paper.pages }} {% endif %} 
     {% if paper.commentary_set.all.exists %}
        {% for commentary in paper.commentary_set.all %}
            <a href="{{ commentary.get_absolute_url }}" class="btn btn-outline-secondary btn-sm"> Our Take</a> 
        {% endfor %}
    {% endif %}
         {% if paper.post_set.all.exists %}
        {% for post in paper.post_set.all %}
            <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary btn-sm"> Our Thoughts</a> 
        {% endfor %}
    {% endif %}
         <a href='{{ paper.get_absolute_url }}' class="btn btn-primary btn-sm"> Details</a>
    {% if paper.doi_link %}
        <a href='{{ paper.doi_link }}' class="btn btn-secondary btn-sm">Publisher Link</a>
    {% endif %}
    {% if paper.preprint %}
        <span class="badge bg-danger">Preprint</span>
    {% endif %}
</li>
</div>
