{% extends "base.html" %}

{% block scripts %}
<script type='text/javascript' src='http://cdn.altmetric.com/embed.min.js'></script>
<script type='text/javascript'>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

{# --- NEW STRUCTURED DATA BLOCK --- #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "ScholarlyArticle",
      "@id": "{{ request.build_absolute_uri }}#paper",
      "headline": "{{ publication.title|escapejs }}",
      "name": "{{ publication.title|escapejs }}",
      "description": "{{ publication.abstract|striptags|truncatewords:50|escapejs }}",
      "abstract": "{{ publication.abstract|striptags|escapejs }}",
      {% if publication.year %}"datePublished": "{{ publication.year }}",{% endif %}
      {% if publication.doi %}"identifier": "https://doi.org/{{ publication.doi }}",{% endif %}
      "url": "{{ publication.doi_link }}",
      "author": [
        {% for author_relation in publication.authors.all|dictsort:"order" %}
        {
          "@type": "Person",
          "name": "{{ author_relation.name|escapejs }}"
          {% if author_relation.author.get_absolute_url %},
          "url": "{{ request.scheme }}://{{ request.get_host }}{{ author_relation.author.get_absolute_url }}"
          {% endif %}
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      "publisher": {
        "@type": "Organization",
        "name": "{{ publication.journal|escapejs }}"
      },
      "isPartOf": {
        "@type": "PublicationIssue",
        "name": "{{ publication.journal|escapejs }}",
        "volumeNumber": "{{ publication.volume }}",
        {% if paper.issue %}"issueNumber": "{{ paper.issue }}",{% endif %}
        "pagination": "{{ publication.pages }}"
      }
    }
  ]
}
</script>
{% endblock scripts %}

{% block title %}<title>{{ publication }}</title>{% endblock %}

{% block header %}
<h1 class="text-center display-4">{{ publication }}</h1>
{% endblock %}

{% block content %}
<article id='paper' class="container">

<section id="authors">
<p class="text-center lead">
{% for author in publication.authors.all|dictsort:"order" %}
    {% if author.author.current_lab_member %}
        <a href='{{ author.author.get_absolute_url }}' class="text-decoration-none text-dark">{{ author.name }}</a>
    {% else %}
        {{ author.name }}
    {% endif %}
    {% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
</section>

<section id='publication' class='text-center'>
<strong>{{ publication.journal }}</strong> 
{% if publication.year %}<span>{{ publication.year }}</span>. {% endif %}
{% if publication.volume %} {{ publication.volume }}{% if paper.issue %}({{ paper.issue }}){% endif %}: {{ publication.pages }}.{% endif %}
{% if publication.preprint %}
<br><span class="badge bg-danger">This work is a preprint and is currently under review.</span>
{% endif %}
</section>

<div class="row mt-4">
  <section class="col-12 col-lg-8">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Abstract</h2>
      </div>
      <div class="card-body">
        <p>{{ publication.abstract | safe }}</p>
        {% if publication.doi %}
        <p><a href="{{ publication.doi_link }}" target="_blank">Link to Full Text of Paper</a></p>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="metrics" class="col-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Metrics</h2>
      </div>
      <div class="card-body text-center">
        {% if publication.doi %}
            {% with publication as paper %}
                {% include 'altmetric_snippet.html' %}
            {% endwith %}
        {% endif %}
      </div>
    </div>
  </section>
</div>

{% if authors_with_contributions %}
<section class="card mt-4">
  <div class="card-header">
    <h2 class="card-title">Author Contributions</h2>
  </div>
  <div class="card-body">
    <div class="row text-center">
      {% for author_details in authors_with_contributions %}
      <div class="col">
        <h3>{{ author_details.author }}</h3>
        {% for contribution in author_details.contribution.all %}
        <img class="img-fluid custom-image" src='{{ contribution.image_url }}' alt="{{ contribution }}" title="{{ contribution }}" width="50"/>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if publication.commentary_set.all.exists %}
<section id="commentary" class="container mt-4">
  <h2 class="display-6">Our Thoughts on This Paper</h2>
  {% for commentary in publication.commentary_set.all %}
  <div class="border-start ps-3 mb-3">
    {{ commentary.comments|safe }}
    <p class="text-muted small">Written by <a href="{{ commentary.author.get_absolute_url }}">{{ commentary.author }}</a> on {{ commentary.created }}.</p>
  </div>
  {% endfor %}
</section>
{% endif %}

</article>
{% endblock content %}