{% extends "base.html" %}

{% block scripts %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "EducationalOrganization",
  "name": "{{ lab_name }}",
  "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'home' %}",
  "member": [
    {% for person in personnel %}
    {
      "@type": "Person",
      "name": "{{ person|escapejs }}",
      "url": "{{ request.scheme }}://{{ request.get_host }}{{ person.get_absolute_url }}",
      {% if person.image %}"image": "{{ request.scheme }}://{{ request.get_host }}{{ person.image.url }}",{% endif %}
      "jobTitle": "{% with person.lab_roles.all|first as role %}{{ role|striptags|escapejs }}{% endwith %}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
{% endblock %}

{% block title %}<title>{% if personnel_type == 'alumni' %}Former {% endif %}Members of the Bridges Lab</title>{% endblock %}

{% block header %}
<h1 class="text-center display-4">{% if personnel_type == 'alumni' %}Former {% endif %}Members of the Bridges Lab</h1>
{% endblock %}

{% block content %}
<article> {# Removed Microdata attributes #}

{% if personnel_type == 'current' %}
{% include "job_posting_snippet.html" %}
{% endif %}

<div class="row">
{% for person in personnel %}
    <div class="col-sm-4 mb-4" id="{{ person|slugify|lower }}"> {# Removed property/typeof #}
        <div class="card h-100 text-center">
            {% include 'personnel_snippet.html' %}
        </div>
    </div>
{% endfor %}
</div>

{% if personnel_type == 'current' %}
<p class="mt-4">To see previous lab members, see the <a href="{% url 'laboratory-alumni' %}">lab alumni list</a>.</p>
{% endif %}

{% if personnel_type == 'alumni' %}
<p class="mt-4">To see current lab members, see the <a href="{% url 'laboratory-personnel' %}">lab members list</a>.</p>
{% endif %}

</article>
{% endblock %}