{% extends "base.html" %}

{% block title %}<title>{{ person }}</title>{% endblock %}

{% block header %}
<h1 class="text-center my-4">{{ person }}</h1>
{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/Person" class="container">

  <meta itemprop="familyName" content="{{ person.last_name }}" />
  <meta itemprop="givenName" content="{{ person.first_name }}" />
  <meta itemprop="name" content="{{ person }}" />

  <!-- Top row: Details + Image -->
  <section id="bio" class="row">
    <div class="col-md-8 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <dl class="row">
            {% if person.lab_roles.all %}
              <dt class="col-sm-4">Position</dt>
              <dd class="col-sm-8">
                {% for role in person.lab_roles.all %}
                  {% if not role.end_date %}
                    {{ role|safe }} ({{ role.start_date|timesince }})<br />
                  {% endif %}
                {% endfor %}

                <button class="btn btn-sm btn-outline-primary mt-2" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#previous-positions-{{ person.id }}">
                  Show Previous Positions
                </button>
                <div class="collapse mt-2" id="previous-positions-{{ person.id }}">
                  {% for role in person.lab_roles.all %}
                    {% if role.end_date %}
                      {{ role|safe }} ({{ role.start_date }} to {{ role.end_date }})<br />
                    {% endif %}
                  {% endfor %}
                </div>
              </dd>
            {% endif %}

            {% if person.degrees.all %}
              <dt class="col-sm-4">Degrees</dt>
              <dd class="col-sm-8">
                {% for degree in person.degrees.all %}
                  {{ degree }}{% if degree.date_awarded %}, awarded {{ degree.date_awarded|date:"Y" }}{% endif %}<br />
                  <meta itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                    <meta itemprop="name" content="{{ degree.organization.name }}">
                  </meta>
                {% endfor %}
              </dd>
            {% endif %}

            {% if person.email %}
              <dt class="col-sm-4">Email</dt>
              <dd class="col-sm-8">
                <a itemprop="email" href="mailto:{{ person.email }}">{{ person.email }}</a>
              </dd>
            {% endif %}

            {% if person.phone %}
              <dt class="col-sm-4">Phone</dt>
              <dd class="col-sm-8"><span itemprop="telephone">{{ person.phone }}</span></dd>
            {% endif %}

            {% if person.orcid_id %}
              <dt class="col-sm-4">ORCID ID</dt>
              <dd class="col-sm-8">
                <a itemprop="sameAs" href="http://orcid.org/{{ person.orcid_id }}">{{ person.orcid_id }}</a>
              </dd>
            {% endif %}

            {% if person.twitter_username %}
              <dt class="col-sm-4">Social Media</dt>
              <dd class="col-sm-8">
                <a href="https://twitter.com/{{ person.twitter_username }}" class="twitter-follow-button" 
                   data-show-count="true" data-lang="en" data-size="large">
                  Follow @{{ person.twitter_username }}
                </a>
              </dd>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% endif %}
          </dl>
        </div>
      </div>
    </div>

    {% if person.image %}
    <div class="col-md-4 mb-3 d-flex align-items-start justify-content-center">
      <a href="{{ person.image.url }}" data-featherlight="image">
        <img id="image" src="{{ person.image.url }}" alt="Photo of {{ person }}" class="img-thumbnail w-100" />
      </a>
    </div>
    {% endif %}
  </section>

  {% if person.biography %}
  <section class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="h5">Bio</h2>
        </div>
        <div class="card-body">
          <p>{{ person.biography }}</p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if person.authordetails_set.all.exists %}
  <section id="papers" class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="h5">Publications</h2>
        </div>
        <div class="card-body">
          <ol>
            {% for detail in person.authordetails_set.all %}
              {% for paper in detail.publication_set.all|dictsort:"year" %}
                  {% include "paper-detail-snippet.html" %}
              {% endfor %}
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
</article>
{% endblock %}
