{% extends 'base.html' %}

{% block title %}
<title>{{ lab_name }} Photos</title>
<meta name="description" content="{{ general_data.about|default:'Lab Photos' }}">
{% endblock title %}

{% block content %}
<section id="photos" class="container-xl">
  <div class="mx-auto" style="max-width: 50%;">
  <h1 class="text-center display-4">{{ lab_name }} Photos</h1>
  
  {% if photo_data.data %}
    <div id="labPhotosCarousel" class="carousel slide">
      <div class="carousel-inner">
        {% for post in photo_data.data %}
          {% if post.full_picture %}
            <div class="carousel-item {% if forloop.first %}active"{% endif %}">
              <img src="{{ post.full_picture }}" class="img-fluid w-100" alt="{{ post.message|default:'Lab photo' }}"}}">
              <div class="mt-2">
                <p class=fw-bold>{{ post.message }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#labPhotosCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#labPhotosCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  {% else %}
    <p class="text-center">No photos available at the moment.</p>
  {% endif %}
</div>
</section>


{% endblock content %}
